* {
  margin: 0 auto;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

.header {
  max-width: 375px;
  height: 643px;
  display: block;
  padding: 64px 24px;
  background: #f8f8ff;
}

.container {
  display: grid;
  width: 327px;
  height: 515px;
  gap: 24px;
}

.bgImg {
  width: 207px;
  height: 240px;
  background-image: url("/img/illustra.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.group {
  display: grid;
  width: 327px;
  height: 251px;
  gap: 24px;
}

.group>h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: center;
}

span {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: center;
  color: #846aff;
}

.group>p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.button>input {
  width: 327px;
  height: 44px;
  border-radius: 5px;
  border: none;
  background: #6c63ff;
  /*text*/
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.main {
  height: 2318px;
  top: 643px;
  padding: 64px 0px;
  gap: 113px;
  
}

.card-container {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(327px, auto));
    grid-gap: 2rem;
  cursor: pointer;
    transition: all 0.35s;
  gap: 40px;
}

.card-container h2 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  text-align: left;
}

.cards {
  display: grid;
  height: 2122px;
  gap: 32px;
}

.card {border: 1px solid red;
  
  border-radius: 8px;
  border: 2px;
  
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.438);
}

.card-title {
  display: grid;
  width: 327px;
  height: 152px;
}

.card-title h2 {
  width: 291px;
  height: 44px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
}

.card-title p {
  width: 291px;
  height: 44px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.card-1 {
  width: 327px;
  height: 175px;
  border-radius: 4px 4px;
  background-image: url("/img/image-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  
}

.card-2 {
  width: 327px;
  height: 175px;
  border-radius: 4px 4px;
  background-image: url("/img/image-2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.card-3 {
  width: 327px;
  height: 175px;
  border-radius: 4px 4px;
  background-image: url("/img/image-3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.card-4 {
  width: 327px;
  height: 175px;
  border-radius: 4px 4px;
  background-image: url("/img/image-4.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.card-5 {
  width: 327px;
  height: 175px;
  border-radius: 4px 4px;
  background-image: url("/img/image-5.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.card-6 {
  width: 327px;
  height: 175px;
  border-radius: 4px 4px;
  background-image: url("/img/image-6.png");
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  width: 375px;
  height: 590px;
  top: 2961px;
  padding: 64px 0px;
  gap: 48px;
  opacity: 0px;
  background: #F8F8FF;
}

.form {
  display: grid;
  width: 326px;
  height: 462px;
  gap: 48px;
  opacity: 0px;

}

.form h1 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 600;
  line-height: 32.81px;
  text-align: left;
}

input {
  padding-left: 12px;
  margin-bottom: 20px;
  width: 100%;
  height: 48px;
  background: #ffffff;
  border-radius: 5px;
  border: none;

  /*text*/
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;

}

.formText {
  padding-left: 12px;
  padding-top: 20px;
  width: 100%;
  height: 150px;
  background: #ffffff;
  border-radius: 5px;
  border: none;

  /* text */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}

.submit {
  width: 100%;
  margin-top: 45px;
  height: 50px;
  border: none;
  background: #6c63ff;
  border-radius: 5px;

  /* text */
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 32.81px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1025px) {
  .header {}

  .subHeader {}

  .bkgImg {}

  .tTitle>h1 {}

  .tTitle>p {}

  .button>input {}

  .main {}

  .card {}

  .cardTitle>h2 {}

  .cardTitle>p {}

  .bkgRed {}

  .bkgCiano {}

  .bkgPurple {}

  .bkgGreen {}

  .bkgYellow {}

  .bkgBlue {}

  .rodape {}

  .rodape>h1 {}

  input {}

  .formText {}

  .submit {}
}